body {
    padding-left: 20px;
    padding-top: 60px;
}
p {
    text-align: center;
    padding-top: 20px;
}
h4 {
    text-align: center;
}
#map{
    text-align: center;
}
.navbar-inner {
    min-height: 0px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
@media (max-width: 980px) {
    body {
        padding-top: 60px;
    }
    img {
        max-width: 150px;
    }
}
@media (max-width: 480px) {
    body {
        padding-top: 60px;
    }
    img {
        width: 100%;
        max-width: 150px;
    }
    #map {
        max-width: 300px;
        max-height: 200px;
        text-align: center;
    }
}
